html, body {
  height: 95%;
  margin: 0;
}
.activity-tab{
	height:238px;
	background:rgba(255,255,255,1);
	opacity:1;
	border-radius:4px;
}
.activity-tab .img{
	height:167px;
	width: 100%;
	background:rgba(0,0,0,0);
	opacity:1;

}
.activity-tab .titleStyle{
	padding: 10px;
}
.activity-tab .titleStyle .title{
	width:300px;
	height:20px;
	font-size:15px;
	font-family:PingFang SC;
	font-weight:bold;
	line-height:24px;
	color:rgba(100,100,100,1);
	opacity:1;
}
.activity-tab .concentStyle{
	margin-left: 10px;
	width: 16px;
	height: 16px;
	/* background: linear-gradient(180deg,rgba(0,153,255,1) 0%,rgba(34,238,217,1) 100%); */
	opacity: 1;
}
.activity-tab .concentStyle .concent{
	display:inherit;
	margin-left: 20px;
	width:159px;
	height:20px;
	font-size:14px;
	font-family:PingFang SC;
	font-weight:500;
	line-height:24px;
	color:rgba(122,122,122,1);
	opacity:1;
}
.activity-tab .concentStyle .imgs{
	float: left;
    height: 20px;
    width: 20px;
}


.textStyle{

}
.textStyle .text{
	margin-top: 5px;
	display: inherit;
    margin-left: 10px;
    height: 20px;
    font-size: 14px;
    font-family: PingFang SC;
    line-height: 24px;
    color: rgba(122,122,122,1);
    opacity: 1;
}
.content {
    position: absolute;
    left: 5%;
    top: 90%;
    height: 52px;
    background: rgba(25,137,250,1);
    opacity: 1;
    border-radius: 4px;
    text-align: center;
    width: 90%;
}
.content .btn{
	position: relative;
	left: 0%;
	top: 33%;

  width:64px;
	height:22px;
	font-size:16px;
	font-family:PingFang SC;
	font-weight:500;
	line-height:24px;
	color:rgba(255,255,255,1);
	opacity:1;

}

