body{
	background:white;
}
.slider{
	width: 95%;
	/*height:280px;*/
	background:rgba(0,0,0,0);
	opacity:1;
	border-radius:4px;

}
.slider-item{
	width: 95%!important;
    height: 100%!important;
    border-radius:5px!important;

}
.slider-item-img{
	height: 100%!important;
	border-radius:5px 5px 5px 5px;
}
.about{
}
.about-imgStyle{
	float:left;
	width:49%;
	height:101px;
	opacity:1;
}
.about-img{
	width: 100%;
	height:101px;
	background:linear-gradient(155deg,rgba(150,99,255,1) 0%,rgba(0,144,255,1) 100%);
	opacity:1;
}
.about-text{
	position: relative;
    left: 10%;
    top: 43%;

    width:100px;
	height:28px;
	font-size:20px;
	font-family:PingFang SC;
	font-weight:500;
	line-height:20px;
	color:rgba(255,255,255,1);
	opacity:1;
}
.activity-title{
	margin-top: 120px;
	margin-left: 15px;
	width:4px;
	height:20px;
	background:linear-gradient(180deg,rgba(99,228,255,1) 0%,rgba(0,144,255,1) 100%);
	opacity:1;
}
.activity-title-concent{
	margin-left: 20px;
	display:inherit;
	width:160px;
	height:28px;
	font-size:20px;
	font-family:PingFang SC;
	font-weight:bold;
	line-height:20px;
	color:rgba(78,78,78,1);
	opacity:1;
}
.mapStyle{
	padding: 15px;
}
.map{
	width:100%;
	height:270px;
	background:rgba(255,255,255,1);
	border:1px solid rgba(112,112,112,1);
	opacity:1;
}
