<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>最新活动</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.css" rel="stylesheet" />
		<link href="../css/main.css" rel="stylesheet" />
		<link href="../css/activity.css" rel="stylesheet" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">最新活动</h1>
		</header>
		<div class="body" style="padding: 15px;background:rgba(246,247,248,1);">
			<!--标题-->
			<div class="activity-title">
				<span class="activity-title-concent">最新活动</span>
			</div>
			<!--内容卡-->
			<div class="activity">
				
			</div>
		</div>


		<script src="../js/mui.min.js"></script>
		<script src="../js/jquery-1.11.0.js"></script>
		<script type="text/javascript" src="../js/main.js" ></script>
		<script type="text/javascript">
			mui.init();
			console.log(host)
			$.ajax({
				url:host+"/kejiguan/selectActivityListById",
				type:"POST",
				data:"",
				dataType:"json",
				success:function(res){
					if(res.code==1){
						for(var i in res.data){
							var html='';
							html+='<a class="activity-tab" href="activityDetail.html?id='+res.data[i].id+'">'+
								'<img class="img" src="" onerror="javascript:this.src=\' ../images/default.png\'"/>'+
								'<div class="titleStyle">'+res.data[i].titles+'</div>'+
								'<div class="concentStyle">'+
								'<img class="imgs" src="../images/kejiguan3.png"/>'+
								'<span class="concent">'+res.data[i].createTime+'</span></div></a>';
							$('.activity').append(html);
						}
					}
				},
				complete:function(xhr,ts){
					if(ts=='success'){
						setTimeout(function(){
                        	$.post(host+"/kejiguan/selectActivityListById","",
								function(res){
									if(res.code==1){
										for(var i in res.data){
											$('.activity').find('.img').eq(i).attr('src',res.data[i].picPath);
										}
									}
							    })
	                        
						},3000)
					}
				}
			})
//			$.post(host+'/kejiguan/selectActivityListById','',
//				function(res){
//					if(res.code==1){
//						for(var i in res.data){
//							var html='';
//							html+='<a class="activity-tab" href="activityDetail.html?id='+res.data[i].id+'">'+
//								'<img class="img" src="'+res.data[i].picPath+'" onerror="javascript:this.src=\' ../images/default.png\'"/>'+
//								'<div class="titleStyle">'+res.data[i].titles+'</div>'+
//								'<div class="concentStyle">'+
//								'<img class="imgs" src="../images/kejiguan3.png"/>'+
//								'<span class="concent">'+res.data[i].createTime+'</span></div></a>';
//							$('.activity').append(html);
//						}
//					}
//			})
		</script>
	</body>

</html>