<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>活动详情</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/main.css" rel="stylesheet" />
		<link href="../css/activityDetail.css" rel="stylesheet" />
		<style>
			.activity-tab .titleStyle{
				height: 40px;
				line-height: 40px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">活动详情</h1>
		</header>
		<div class="body" >
			<!--内容卡-->
			<div class="activity-tab">
				<div class="pic"></div>
				<div class="titleStyle"></div>
				<div class="concentStyle">
					<img class="imgs" src="../images/kejiguan3.png"/>
					<span class="concent"></span>
				</div>
			</div>
			<div class="textStyle">
				<span class="title">活动简介</span>
				<p class="text"></p>
			</div>
			<a class="submit" href><button type="button" class="content">我要预约</button></a>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/jquery-1.11.0.js"></script>
		<script type="text/javascript" src="../js/main.js" ></script>
		<script type="text/javascript">
			mui.init();
			$.ajax({
				type:"GET",
				url:host+"/kejiguan/selectActivityById",
				data:{
					id:GetUrlParam("id")
				},
				dataType:"json",
				success:function(res){
					if(res.code==1){
						res.data.titles=res.data.titles==null?'':res.data.titles;
						res.data.desc=res.data.desc==null?'':res.data.desc;
						$('.titleStyle').html(res.data.titles);
						$('.pic').append('<img class="img" src='+res.data.picPath+' onerror="javascript:this.src=\' ../images/default.png\'"/>')
						$('.concentStyle .concent').html(res.data.createTime);
						$('.textStyle .text').html(res.data.desc);
						$('.submit').attr('href','book.html?id='+res.data.id+'');
					}
				}
			})
			
		</script>
	</body>
</html>