<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.css" rel="stylesheet" />
		<link href="../css/main.css" rel="stylesheet" />
		<link href="../css/activity.css" rel="stylesheet" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">活动列表</h1>
		</header>
		<div class="body" style="padding: 15px;background:rgba(246,247,248,1);">
			<!--标题-->
			<div class="activity-title">
				<span class="activity-title-concent">最新活动</span>
			</div>
			<!--内容卡-->
			<div class="activity-tab">
				<img class="img" src="../images/timg3.jpg"/>
				<div class="titleStyle">
					<span class="title">太空漫步之旅</span>
				</div>
				<div class="concentStyle">
					<img class="imgs" src="../images/kejiguan3.png"/>
					<span class="concent">2018年12月1日至12日</span>
				</div>
			</div>

			<div class="activity-tab">
				<img class="img" src="../images/timg1.jpg"/>
				<div class="titleStyle">
					<span class="title">全国青少年科学影像展</span>
				</div>
				<div class="concentStyle">
					<img class="imgs" src="../images/kejiguan3.png"/>
					<span class="concent">2018年12月1日至12日</span>
				</div>
			</div>


			<div class="activity-tab">
				<img class="img" src="../images/timg2.jpg"/>
				<div class="titleStyle">
					<span class="title">飞向未来飞行展</span>
				</div>
				<div class="concentStyle">
					<img class="imgs" src="../images/kejiguan3.png"/>
					<span class="concent">2018年12月1日至12日</span>
				</div>
			</div>
		</div>


		<script src="../js/mui.min.js"></script>
		<script src="../js/jquery-1.11.0.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
		<script type="text/javascript">
			$(".activity-tab").on('click',function(){
			    window.location.href="activityDetail.html";
			 })
		</script>
	</body>

</html>