<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>我要预约</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" href="../css/main.css">
		<link rel="stylesheet" href="../css/book.css">
		<!--App自定义的css-->
		<!--<link rel="stylesheet" type="text/css" href="../css/app.css"/>-->
		<link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css" />
	</head>

	<body style="padding-bottom:80px">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">我要预约</h1>
		</header>
		<div class="body">
			<div class="choose_type">
				<div class="mui-input-row mui-radio mui-left">
					<label>个人预约</label>
					<input name="type" type="radio" id="person" checked value='1'> 
				</div>
				<div class="mui-input-row mui-radio mui-left">
					<label>单位预约</label>
					<input name="type" type="radio" id="company" value='2'>
				</div>
				
			</div>
		</div>

		<div class="book-time">
			预约时间
		</div>
		<form class="mui-input-group">
			<div class="">
				<ul class="mui-table-view mui-table-view-chevron">
					<!--预约日期-->
					<li class="mui-table-view-cell bookValue" id='demo2'>
						<span class="choose-title">
							<a href="#notifications" class="mui-navigate-right">预约日期</a>
							<input id="valuedemo2" type="hidden" name="bookDate" value=""/>
						</span>
						
						<!--<div id='resultdemo2' class="ui-alert"></div>-->
						<span class="choose">
							<button id='buttondemo2' type="button" data-options='{"type":"date","beginYear":2017,"endYear":2019}' class=" btn mui-btn mui-btn-block choose">请选择</button>
						</span>
					</li>
					<!--选择时间段-->
					<li class="mui-table-view-cell" style="padding-right: 20px;">
						<span class="choose-title">
							<a href="#notifications">选择时间段</a>
						</span>
						<div class="chooseItem">
							<div class="mui-input-row mui-radio">
								<input name="bookTime" type="radio"  checked="checked" value="1" style="left: 5px">
								<label>上午</label>
							</div>
							<div class="mui-input-row mui-radio">
								<input name="bookTime" type="radio" value="2" style="left: 5px">
								<label>下午</label>
							</div>
							<div class="mui-input-row mui-radio">
								<input name="bookTime" type="radio"   value="3" style="left: 5px">
								<label>晚上</label>
							</div>
						</div>
					</li>
					<!--开始时间-->
					<li class="mui-table-view-cell bookValue" id='demo5'>
						<span class="choose-title">
							<a href="#notifications" class="mui-navigate-right">开始时间</a>
							<input id="valuedemo5" type="hidden" name="starTime" />
						</span>
						
						<!--<div id='resultdemo5' class="ui-alert"></div>-->
						<span class="choose">
							<button id='buttondemo5' type="button" data-options='{"type":"time"}' class="btn mui-btn mui-btn-block choose">请选择</button>
						</span>
					</li>
					<!--结束时间-->
					<li class="mui-table-view-cell bookValue" id='demo55'>
						<span class="choose-title">
							<a href="#notifications" class="mui-navigate-right">结束时间</a>
							<input id="valuedemo55" type="hidden" name="endTime" />	
						</span>
						
						<!--<div id='resultdemo55' class="ui-alert"></div>-->
						<span class="choose">
							<button id='buttondemo55' type="button" data-options='{"type":"time"}' class="btn mui-btn mui-btn-block choose">请选择</button>
						</span>
					</li>
	
	
				</ul>
			</div>
		
		
			<div class="person">
				<div class="book-time">个人信息</div>
				<div class="mui-input-row">
					<label class="label">姓名:</label>
					<input type="text" class="mui-input-clear inputStyle" name="name" placeholder="请输入名字">
				</div>
				<div class="mui-input-row">
					<label class="label">身份证号:</label>
					<input type="text" class="mui-input-clear inputStyle" name="idcard" placeholder="请输入您的身份证号">
				</div>
			</div>
			<div class="company" style="display: none;">
				<div class="book-time">单位信息</div>
				<div class="mui-input-row">
					<label class="label">单位名称 :</label>
					<input type="text" class="mui-input-clear inputStyle" name="companyName" placeholder="请输入单位名称 ">
				</div>
				<div class="mui-input-row">
					<label class="label">参与人数 :</label>
					<input type="text" class="mui-input-clear inputStyle" name="companyNum" placeholder="请输入参与人数">
				</div>
				<div class="book-time">联系信息</div>
				<div class="mui-input-row">
					<label class="label">联系人 :</label>
					<input type="text" class="mui-input-clear inputStyle" name="contact" placeholder="请输入姓名">
				</div>
				<div class="mui-input-row">
					<label class="label">联系电话 :</label>
					<input type="text" class="mui-input-clear inputStyle" name="phone" placeholder="请输入联系电话">
				</div>
			</div>
		</form>
		<div class="submit"><button id="button" type="button" class="content">提交</button></div>
		<script src="../js/jquery-1.11.0.js"></script>
		<script src="../js/mui.min.js"></script>
		<script src="../js/mui.picker.min.js"></script>
		<script type="text/javascript" src="../js/main.js" ></script>
		<script type="text/javascript" charset="utf-8">
		var i;
		var flag=0;
		var hasCheck=false;
		$('input[type=radio][name=type]').change(function() {
	        if (this.id == 'person') {
	           $('.company').hide();
	           $('.person').show();
	        }
	        else if (this.id == 'company') {
	            $('.company').show();
	            $('.person').hide();
	        }
	    });
	   	(function($) {
			$.init();
			var btns = $('.bookValue');
			btns.each(function(i, btn) {
				btn.addEventListener('tap', function() {
					var _self = this;
					if(_self.picker) {
						_self.picker.show(function (rs) {
							$('#button'+btn.id)[0].innerText = '' + rs.text;
							_self.picker.dispose();
							_self.picker = null;
						});
					} else {
						var obj = $('#button'+btn.id)[0];
						var optionsJson = $('#button'+btn.id)[0].getAttribute('data-options') || '{}';
						var options = JSON.parse(optionsJson);
						var id = this.getAttribute('id');
						/*
						 * 首次显示时实例化组件
						 * 示例为了简洁，将 options 放在了按钮的 dom 上
						 * 也可以直接通过代码声明 optinos 用于实例化 DtPicker
						 */
						_self.picker = new $.DtPicker(options);
						_self.picker.show(function(rs) {
							/*
							 * rs.value 拼合后的 value
							 * rs.text 拼合后的 text
							 * rs.y 年，可以通过 rs.y.vaue 和 rs.y.text 获取值和文本
							 * rs.m 月，用法同年
							 * rs.d 日，用法同年
							 * rs.h 时，用法同年
							 * rs.i 分（minutes 的第二个字母），用法同年
							 */
							
							$('#button'+btn.id)[0].innerText = '' + rs.text;
							$('#value'+btn.id)[0].value = '' + rs.text;

							/*
							 * 返回 false 可以阻止选择框的关闭
							 * return false;
							 */
							/*
							 * 释放组件资源，释放后将将不能再操作组件
							 * 通常情况下，不需要示放组件，new DtPicker(options) 后，可以一直使用。
							 * 当前示例，因为内容较多，如不进行资原释放，在某些设备上会较慢。
							 * 所以每次用完便立即调用 dispose 进行释放，下次用时再创建新实例。
							 */
							_self.picker.dispose();
							_self.picker = null;
						});
					}

				}, false);
			});
		})(mui);
//		var url = "http://127.0.0.1";
//		var url = "http://10.71.19.166:9097";
		$("#button").click(function(){
			var bookDate = $('input[name="bookDate"]').val();//预约时间
			var bookTime = $('input[name="bookTime"]:checked').val();//时间段
			var starTime = $('input[name="starTime"]').val();//开始时间
			var endTime = $('input[name="endTime"]').val();//结束时间
			var name = $('input[name="name"]').val();//名字
			var idcard = $('input[name="idcard"]').val();//身份证号
			var companyName = $('input[name="companyName"]').val();//公司名字
			var companyNum = $('input[name="companyNum"]').val();//参加人数
			var contact = $('input[name="contact"]').val();//联系人名字
			var phone = $('input[name="phone"]').val();//手机号
			var data;
			var value;
			
			var activityId=GetUrlParam('id');
			var type = $('input[name="type"]:checked').val();
			var id=GetUrlParam('id');
			//判断元素值是否为空
			console.log(id);
			
			if(type==1){
				if(hasCheck==false){
					check('.company input');
				}				
			}else{
				if(hasCheck==false){
					check('.person input');
				}
			}	

            if(hasCheck==true){
            	var classname=type==1?'.company input':'.person input';
            	data=$('form').find('input').not(classname).serialize()+'&activityId='+id+'&type='+type+'';
            	console.log(data)
				$.post(host+"/kejiguan/addBook",data,
					function(res){
						//alert("Data: " + data + "\nStatus: " + status);
						var htm = "";
	   					if(res.data==true){
	   						console.log(res)
	 						mui.toast(res.status);
	 						window.location.replace("success.html");
//	 						window.history.back(-1);
	   					}else{
	   						mui.toast(res.status);
							window.location.replace("fail.html");
//							window.history.back(-1);
	   					}
			    });
	        }
	    });
	    
	    //表单验证是否为空
		function check(classname){
            //循环所有的表单元素
            for(var i=0;i<$('form').find('input').not(classname).length;i++){ //下面减一是因为数组的下标为0
              if($('form').find('input').not(classname).eq(i).val()=="")
              {
                 alert("当前表单不能有空项");
                 $('form').find('input').not(classname).eq(i).focus();
                 return false;
              }
              if(i>=$('form').find('input').not(classname).length-1){
              	var myreg=/^[1][3,4,5,7,8][0-9]{9}$/;
				if($('input[name="type"]:checked').val()==2&&!myreg.test($('form').find('input').not(classname).eq(i).val()))
				  { 
				  　　alert("请输入正确的手机号格式");
				}else{
					hasCheck=true;
				}
              }
            }
		}
		
		</script>
	</body>

</html>