<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/main.css" rel="stylesheet" />
		<link href="../css/activityDetail.css" rel="stylesheet" />
		<style type="text/css">
			.audioStyle{
			    position: absolute;
			    left: 2%;
			    /* right: 20%; */
			    /* width: 37%; */
			    height: 30px;
			    top: 250px;
			}
		</style>
	</head>

	<body style="background-color: white;">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">场馆介绍</h1>
		</header>
		<div class="body" >
			<!--内容卡-->
			<div class="activity-tab">
				<img class="img" src="../images/huaxuequ.png"/>
				<div class="titleStyle">
					<span class="title">化学区简介</span>
				</div>
			</div>
			<audio controls="controls" class="audioStyle" autoplay="autoplay" id="myAudio">
			  <source src="../source/huaxuequ.mp3" type="audio/MP3"></source>
			Your browser does not support the audio element.
			</audio>
			<div class="textStyle">
				<p class="text">
					化学区设置了虚拟化学实验室，镁、铝等金属标本，磷酸钛氧钾，磷酸二氘钾，磷酸二氢铵，钽酸锂，硫酸锂，硫酸三甘氨酸等晶体标本等。
				</p>
			</div>
		<div class="content">
			<span id="" class="btn">
				我要预约
			</span>
	  	</div>
		</div>



		<script src="../js/mui.min.js"></script>
		<script src="../js/jquery-1.11.0.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
		<script type="text/javascript">
			$(".content").on('click',function(){
			    window.location.href="book.html";
			 })
		</script>
	</body>

</html>