<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>科技馆</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" href="../css/index.css">
		<!--App自定义的css-->
		<!--<link rel="stylesheet" type="text/css" href="../css/app.css"/>-->
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">科技馆</h1>
		</header>
		<div class="body">
			<div class="slide">
				<!--轮播图-->
				<div id="slider" class="mui-slider slider">
					<div class="mui-slider-group mui-slider-loop"></div>
					<div class="mui-slider-indicator"></div>
				</div>
			</div>
			<!--活动图-->
			<div class="about">
				<a class="about-imgStyle kjg" src="">
					<span id="" class="about-text">
						关于科技馆
					</span>
					<img class="about-img" id="about_kejiguan" src="../images/index2.png"/>
				</a>
				<a class="about-imgStyle" href="activity.html">
					<span id="" class="about-text">
						最新活动
					</span>
					<img class="about-img" id="acitvity" src="../images/index3.png"/>
				</a>
			</div>
		</div>
		<!--标题-->
		<div class="activity">
			<span class="activity-title"></span>
			<span class="activity-title-concent">科技馆导览</span>
		</div>
		<!--科技馆导览-->
		<div class="about-list">
			<!--<a class="about-list-imgStyle" id="huaxuequ" href="huaxuequ.html">
				<img class="about-list-img" id="" src="../images/huaxuequ.png"/>
				<span id="" class="about-list-text">
					化学区
				</span>
			</a>
			<a class="about-list-imgStyle"id="xinliqu" href="xinliqu.html">
				<img class="about-list-img" id="" src="../images/xinliqu.png"/>
				<span id="" class="about-list-text">
					心理区
				</span>
			</a>
			<a class="about-list-imgStyle"id="xinxiqu" href="xinxiqu.html">
				<img class="about-list-img" id="" src="../images/xinxiqu.png"/>
				<span id="" class="about-list-text">
					信息区
				</span>
			</a>
			<a class="about-list-imgStyle"id="shengwuqu" href="shengwuqu.html">
				<img class="about-list-img" id="" src="../images/shengwuqu.png"/>
				<span id="" class="about-list-text">
					生物区
				</span>
			</a>-->
		</div>
		

		<script src="../js/mui.min.js"></script>
		<script src="../js/jquery-1.11.0.js"></script>
		<script type="text/javascript" src="../js/main.js" ></script>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack:false //启用右滑关闭功能
			});
			var slider = mui("#slider");
//			document.getElementById("switch").addEventListener('toggle', function(e) {
//				if (e.detail.isActive) {
//					slider.slider({
//						interval: 3000
//					});
//				} else {
//					slider.slider({
//						interval: 0
//					});
//				}
//			});
			//再加入这段代码
		    //获得slider插件对象
		    
		    
		    
		    play();
		    list();
		    
		    function play(){
		    	$.post(host+'/kejiguan/selectNavigationListById','',function(res){
		    		if(res.data.length!=0){
		    			var html='';
		    			var num=res.data.length;
		    			var data=res.data;
		    			var first=res.data[0];
		    			var last=res.data[num-1];
		    			var classname;
		    			if(res.data.length>1){
		    				data.push(first);
		    				data.unshift(last);
		    			}
		    			console.log(res.data)
		    			for(var i in res.data){
		    				console.log(11)
		    				if(i==0 ||i==3){
		    					classname='mui-slider-item-duplicate';
		    				}else{
		    					classname='';
		    				}
		    				html+='<div class="mui-slider-item slider-item '+classname+'" >'+
							'<a href="'+res.data[i].url+'">'+
							'<img src="'+res.data[i].picPath+'" class="slider-item-img" onerror="javascript:this.src=\' ../images/default.png\'"/></a></div>';
		    			}
					    $('.mui-slider-group').append(html);
					    var gallery = mui('.mui-slider');
					        gallery.slider({
					  	    interval:3000//自动轮播周期，若为0则不自动播放，默认为0；
					    });
		    		}
		    	})
		    }
		    
		    function list(){
		    	$.post(host+'/kejiguan/selectVenueListById','',function(res){
		    		if(res.data.length!=0){
			    		var html='';
			    		var name;
			    		var n=0;
			    		//取第一个id
			    		var num=res.data.length;
			    		$('.kjg').attr('src',res.data[num-1].id);
			    		for(var i in res.data){
			    			if(i==2*n+1){
			    				console.log(i)
			    				name='mui-pull-right';
			    				n++;
			    			}else{
			    				name='mui-pull-left';
			    			}
			    			
		    				html+='<a class="about-list-imgStyle ' +name+'" id="xinliqu" href="venueDetail.html?id='+res.data[i].id+'">'+
							'<img class="about-list-img" id="" src="'+res.data[i].picPath+'" onerror="javascript:this.src=\' ../images/default.png\'"/>'+
							'<span id="" class="about-list-text">'+res.data[i].titles+'</span></a>';
			    		}
						$('.about-list').append(html);
				    }
		    	})
		    }
		    $('.kjg').click(function(){
		    	window.location.href='venueDetail.html?id='+$(this).attr('src');
		    })
	</script>
	</body>

</html>
