<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>科技馆</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" href="../css/kejiguan.css">
		<!--App自定义的css-->
		<!--<link rel="stylesheet" type="text/css" href="../css/app.css"/>-->
		<style type="text/css">
			.audioStyle{
			    /*position: relative;
			    left: 40%;
			    right: 20%;
			    width: 55%;
			    height: 30px;
			    top: 163px;*/
			    position: relative;
			    left: 60%;
			    /* right: 20%; */
			    width: 37%;
			    height: 30px;
			    /* top: 163px; */
			}
		</style>
	</head>

	<body style="background:rgba(246,247,248,1);opacity:1;">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">关于科技馆</h1>
		</header>
		<div class="body" >
			<!--<div class="imgStyle">
				<img class="img" src="../images/cbd.jpg"/>
			</div>-->
			<audio controls="controls" class="audioStyle" autoplay="autoplay" id="myAudio">
			  <source src="../source/tianwen.mp3" type="audio/MP3"></source>
			Your browser does not support the audio element.
			</audio>
			<!--文字信息展示-->
			<div class="tab" style="padding-top: 100px;">
				<div class="line">
					<div class="textStyle">
						<img class="img" src="../images/kejiguan1.png"/>
						<span class="title">科技馆简介</span>
						<p class="text" style="margin-top: 5px;">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;浙江师范大学科技馆位于浙江省金华市浙江师范大学科技实验大楼南楼一楼。是浙江省科普教育基地, 金华市青少年“快乐成长”教育实践单位，2011年6月，科技馆还成为全省首批26家“生态文明教育基地”之一。该馆自建成以来，共接待参观、考察、学习人员10余万人次，组织流动科技馆深入社区和乡镇数十次，为提高浙中地区在校大、中、小学生和社区居民的科学、文化素质做出了重要贡献。
							<br/>

        						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;浙江师范大学开展科普教育的历史比较悠久，早在1979年学校就建立了天文台，成为天文爱好者开展科普活动的重要场所；2004年，新天文台建成，使天文爱好者有了更好的活动场所，受到了广大师生的欢迎；2005年，浙江师范大学物理科技馆成立，吸引了大量观众参观；以馆内展品为展示内容的“流动科技馆”活动受到新闻媒体的积极关注和社会各界的广泛好评，并获得2007年“浙江省高校大学生暑期社会实践PK赛”第一名。
							<br/>

        						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2007年，在物理科技馆的基础上，学校决定建设浙江师范大学科技馆，该馆建筑面积4000多平方米，由天文、地理、生物、化学、物理、信息和心理等七个展区组成，展品总投资约1500万元人民币。2008年9月，浙江师范大学科技馆正式建成。
							<br/>

        						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;浙江师范大学科技馆为国内高师院校中首家服务于大中小学科普教育的科技馆，以提高在校大学生和中小学生的科学文化素质为宗旨。场馆展品与布景丰富，融知识性与趣味性、展示性与参与性、传统知识与现代科技于一体，以多学科综合的手段及寓教于乐的方式，把动手、动脑和学习科学知识、方法、思想、精神相结合，让人们在接受科学知识熏陶的同时培养探索世界的兴趣和能力
						</p>
					</div>
				</div>
			</div>
			<!--地址-->
			<div class="tab">
				<div class="line">
					<div class="textStyle">
						<img class="img" src="../images/kejiguan2.png"/>
						<span class="concent">地址</span>
						<p class="text">
							浙江师范大学科技实验大楼南楼一楼.
						</p>
					</div>
				</div>
			</div>
			<!--开放时间-->
			<div class="tab">
				<div class="line">
					<div class="textStyle">
						<img class="img" src="../images/kejiguan3.png"/>
						<span class="concent">开放时间</span>
						<p class="text">
							开馆：周二至周日9:30—16:00（15:30停止售/领票） <br>
							闭馆：周一（国家法定节假日另行通知）
						</p>
					</div>
				</div>
			</div>
			<!--票价-->
			<!--<div class="tab">
				<div class="line">
					<div class="textStyle">
						<img class="img" src="../images/kejiguan4.png"/>
						<span class="concent">票价</span>
						<p class="text">
							成人：12元        儿童：6元 <br>
							12岁或超过1.5米按成人收费
						</p>
					</div>
				</div>
			</div>-->
			<!--票价-->
			<div class="tab">
				<div class="line">
					<div class="textStyle">
						<img class="img" src="../images/kejiguan5.png"/>
						<span class="concent">温馨提醒</span>
						<p class="text">
							提供个人、团体、单位、学校等预约服务
						</p>
					</div>
				</div>
			</div>
		</div>


		<script src="../js/mui.min.js"></script>
		<script type="text/javascript" charset="utf-8">
//			var x = document.getElementById("myAudio");
//			x.autoplay = true;
//			x.load();
		</script>
	</body>

</html>