<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>预约成功</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/main.css" rel="stylesheet" />
		<link href="../css/activityDetail.css" rel="stylesheet" />
		<style>
			.mui-content{
				background: #fff;
			}
			.status{
				width: 100px;
				height: 140px;
				margin:30px auto;
				text-align: center;
			}
			.statusText{
				margin-top: 10px;
				display: block;
				font-size: 18px;
			}
		</style>
	</head>
	<body style="background-color: white;">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">预约成功</h1>
		</header>
		<div class="wrap mui-content">
			<div class="status">
				<img class="statusImg" src="../images/success.png" width="100%"/>
				<label class="statusText">预约成功！</label>
			</div>
			<a class="submit" href="activity.html"><button type="button" class="content">确定</button></a>
		</div>
		<script type="text/javascript" src="../js/mui.min.js" ></script>
	</body>

</html>