<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>场馆介绍</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/main.css" rel="stylesheet" />
		<link href="../css/activityDetail.css" rel="stylesheet" />
	</head>

	<body style="background-color: white;">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">场馆介绍</h1>
		</header>
		<div class="body" >
			<!--内容卡-->
			<div class="activity-tab">
				<img class="img" src="../images/xinxiqu.png"/>
				<div class="titleStyle">信息区简介</div>
				<audio controls="controls" class="audioStyle" autoplay="autoplay" id="myAudio">
				  <source src="../source/xinxiqu.mp3" type="audio/MP3"></source>
				Your browser does not support the audio element.
				</audio>
			</div>
			<div class="textStyle">
				<p class="text">
					该展区主要展示现代信息技术，设置了机器人下棋、机器人表演、虚拟校园漫步、信息传递模拟、摩尔定律、输入输出设备展示、PC机发展历史等展品。在该展区观众既可以了解先进的机器人技术、虚拟现实技术等，又可以了解PC机、以及输入输出设备的发展历史，从而体会科学技术进步对社会的推动作用。
（1）机器人下棋 该展品备有机器人一个，可同时下象棋、五子棋和跳棋。
（2）机器人表演 该展品有两个机器人，观众可通过语音、触摸屏等操作机器人，让机器人进行表演。
（3）虚拟校园  利用虚拟现实技术，构建了一个浙江师范大学的虚拟场景，观众可以在虚拟场景中漫游。
				</p>
			</div>
			<a class="submit" href="book.html"><button type="button" class="content">我要预约</button></a>
		</div>



		<script src="../js/mui.min.js"></script>
		<script src="../js/jquery-1.11.0.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
		
	</body>

</html>