<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfsoft.boot.zhjx.dao.daointerface.IBookDao" >

    <resultMap id="bookMap" type="com.zfsoft.boot.zhjx.dao.entities.BookModel">
		<result property="id" column="id" />
		<result property="bookDate" column="book_date" />
		<result property="bookTime" column="book_time" />
		<result property="starTime" column="book_startime" />
		<result property="endTime" column="book_endtime" />
		<result property="type" column="type" />
		<result property="name" column="name" />
		<result property="idcard" column="idcard" />
		<result property="contact" column="contact" />
		<result property="phone" column="phone" />
		<result property="companyName" column="company_name" />
		<result property="companyNum" column="company_num" />
		<result property="createTime" column="create_time" />
	</resultMap>

    <!-- 增加预定数据 -->
    <insert id="insert" parameterType="com.zfsoft.boot.zhjx.dao.entities.BookModel">
		insert into "KEJIGUANADMIN"."m_book"
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">"id",</if>
			<if test="bookDate != null and bookDate != ''">"bookDate",</if>
			<if test="bookTime != null and bookTime != ''">"bookTime",</if>
			<if test="starTime != null and starTime != ''">"starTime",</if>
			<if test="endTime != null and endTime != ''">"endTime",</if>
			<if test="type != null and type != ''">"type",</if>
			<if test="name != null and name != ''">"name",</if>
			<if test="idcard != null and idcard != ''">"idcard",</if>
			<if test="contact != null and contact != ''">"contact",</if>
			<if test="phone != null and phone != ''">"phone",</if>
			<if test="companyName != null and companyName != ''">"companyName",</if>
			<if test="companyNum != null and companyNum != ''">"companyNum",</if>
			<if test="createTime != null and createTime != ''">"createTime",</if>
		</trim>
		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">#{id,jdbcType=VARCHAR},</if>
			<if test="bookDate != null and bookDate != ''">#{bookDate,jdbcType=VARCHAR},</if>
			<if test="bookTime != null and bookTime != ''">#{bookTime,jdbcType=VARCHAR},</if>
			<if test="starTime != null and starTime != ''">#{starTime,jdbcType=VARCHAR},</if>
			<if test="endTime != null and endTime != ''">#{endTime,jdbcType=VARCHAR},</if>
			<if test="type != null and type != ''">#{type,jdbcType=VARCHAR},</if>
			<if test="name != null and name != ''">#{name,jdbcType=VARCHAR},</if>
			<if test="idcard != null and idcard != ''">#{idcard,jdbcType=VARCHAR},</if>
			<if test="contact != null and contact != ''">#{contact,jdbcType=VARCHAR},</if>
			<if test="phone != null and phone != ''">#{phone,jdbcType=VARCHAR},</if>
			<if test="companyName != null and companyName != ''">#{companyName,jdbcType=VARCHAR},</if>
			<if test="companyNum != null and companyNum != ''">#{companyNum,jdbcType=VARCHAR},</if>
			<if test="createTime != null and createTime != ''">#{createTime,jdbcType=VARCHAR},</if>
		</trim>
    </insert>

	<update id="update" parameterType="com.zfsoft.boot.zhjx.dao.entities.BookModel">
		update "KEJIGUANADMIN"."m_book"
		<set>
			<if test="id != null and id != ''">"id"=#{id,jdbcType=VARCHAR},</if>
			<if test="bookDate != null and bookDate != ''">"bookDate"=#{bookDate,jdbcType=VARCHAR},</if>
			<if test="bookTime != null and bookTime != ''">"bookTime"=#{bookTime,jdbcType=VARCHAR},</if>
			<if test="starTime != null and starTime != ''">"starTime"=#{starTime,jdbcType=VARCHAR},</if>
			<if test="endTime != null and endTime != ''">"endTime"=#{endTime,jdbcType=VARCHAR},</if>
			<if test="type != null and type != ''">"type"=#{type,jdbcType=VARCHAR},</if>
			<if test="name != null and name != ''">"name"=#{name,jdbcType=VARCHAR},</if>
			<if test="idcard != null and idcard != ''">"idcard"=#{idcard,jdbcType=VARCHAR},</if>
			<if test="contact != null and contact != ''">"contact"=#{contact,jdbcType=VARCHAR},</if>
			<if test="phone != null and phone != ''">"phone"=#{phone,jdbcType=VARCHAR},</if>
			<if test="companyName != null and companyName != ''">"companyName"=#{companyName,jdbcType=VARCHAR},</if>
			<if test="companyNum != null and companyNum != ''">"companyNum"=#{companyNum,jdbcType=VARCHAR},</if>
			<if test="createTime != null and createTime != ''">"createTime"=#{createTime,jdbcType=VARCHAR},</if>
		</set>
		where "id" = #{id}
	</update>

	<select id="getModel" parameterType="com.zfsoft.boot.zhjx.dao.entities.BookModel" resultType="com.zfsoft.boot.zhjx.dao.entities.BookModel">
		select mb.*  from "KEJIGUANADMIN"."m_book" mb where "id" = #{id}
	</select>

	<delete id="delete" parameterType="com.zfsoft.boot.zhjx.dao.entities.BookModel">
		delete from "KEJIGUANADMIN"."m_book" mb where mb.id = #{id}
	</delete>


</mapper>