<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfsoft.boot.zhjx.dao.daointerface.IMenuDao" >

    <resultMap id="leftMenuModelMap" type="LeftMenuModel">
		<result property="fjgndm" column="fjgndm" />
		<result property="dyym" column="dyym" />
		<result property="gnmkdm" column="gnmkdm" />
		<result property="tblj" column="tblj" />
		<result property="gnmkmc" column="gnmkmc" />
		<result property="xssx" column="xssx" />
	</resultMap>

    <!-- 查询菜单数据列表 -->
    <select id="getModelList" parameterType="com.zfsoft.boot.zhjx.dao.entities.LeftMenuModel" resultMap="leftMenuModelMap">
    	select t.fjgndm,t.dyym,t.gnmkdm,t.tblj,t.gnmkmc,t.xssx from ZFTAL_XTGL_GNMKDMB t
    	<where>
	    	<if test="gnmkdm != null and gnmkdm != ''">
	   			and t.fjgndm = #{gnmkdm}
		   	</if>
	   	</where>
    </select>
</mapper>