<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfsoft.boot.zhjx.dao.daointerface.IVenueDao" >

    <resultMap id="activityMap" type="com.zfsoft.boot.zhjx.dao.entities.VenueModel">
		<result property="id" column="id" />
		<result property="picPath" column="picPath" />
		<result property="titles" column="titles" />
		<result property="desc" column="desc" />
		<result property="voicePath" column="voicePath" />
		<result property="createTime" column="createTime" />
	</resultMap>

    <!-- 增加数据 -->
    <insert id="insert" parameterType="com.zfsoft.boot.zhjx.dao.entities.VenueModel">
		insert into "KEJIGUANADMIN"."m_venue"
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">"id",</if>
			<if test="picPath != null and picPath != ''">"picPath",</if>
			<if test="titles != null and titles != ''">"titles",</if>
			<if test="desc != null and desc != ''">"desc",</if>
			<if test="voicePath != null and voicePath != ''">"voicePath",</if>
			<if test="createTime != null and createTime != ''">"createTime",</if>
		</trim>
		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">#{id,jdbcType=VARCHAR},</if>
			<if test="picPath != null and picPath != ''">#{picPath,jdbcType=VARCHAR},</if>
			<if test="titles != null and titles != ''">#{titles,jdbcType=VARCHAR},</if>
			<if test="desc != null and desc != ''">#{desc,jdbcType=VARCHAR},</if>
			<if test="voicePath != null and voicePath != ''">#{voicePath,jdbcType=VARCHAR},</if>
			<if test="createTime != null and createTime != ''">#{createTime,jdbcType=VARCHAR},</if>
		</trim>
    </insert>

	<update id="update" parameterType="com.zfsoft.boot.zhjx.dao.entities.VenueModel">
		update "KEJIGUANADMIN"."m_venue"
		<set>
			<if test="id != null and id != ''">"id"=#{id,jdbcType=VARCHAR},</if>
			<if test="picPath != null and picPath != ''">"picPath"=#{picPath,jdbcType=VARCHAR},</if>
			<if test="titles != null and titles != ''">"titles"=#{titles,jdbcType=VARCHAR},</if>
			<if test="desc != null and desc != ''">"desc"=#{desc,jdbcType=VARCHAR},</if>
			<if test="voicePath != null and voicePath != ''">"voicePath"=#{voicePath,jdbcType=VARCHAR},</if>
			<if test="createTime != null and createTime != ''">"createTime"=#{createTime,jdbcType=VARCHAR},</if>
		</set>
		where "id" = #{id}
	</update>

	<select id="getModel" parameterType="com.zfsoft.boot.zhjx.dao.entities.VenueModel" resultType="com.zfsoft.boot.zhjx.dao.entities.VenueModel">
		select ma.*  from "KEJIGUANADMIN"."m_venue" ma where "id" = #{id}
	</select>

	<delete id="delete" parameterType="com.zfsoft.boot.zhjx.dao.entities.VenueModel">
		delete from "KEJIGUANADMIN"."m_venue" ma where ma.id = #{id}
	</delete>

	<select id="getModelList"  parameterType="com.zfsoft.boot.zhjx.dao.entities.VenueModel" resultType="com.zfsoft.boot.zhjx.dao.entities.VenueModel">
		select m.* from "KEJIGUANADMIN"."m_venue" m where 1=1
		/*预约活动名称*/
		<if test="titles != null and titles != ''">
			and "titles" = #{titles}
		</if>
		<if test="picPath != null and picPath != ''">
			and "picPath" = #{picPaths}
		</if>
		<if test="desc != null and desc != ''">
			and "desc" = #{desc}
		</if>
		<if test="voicePath != null and voicePath != ''">
			and "voicePath" = #{voicePath}
		</if>
		<if test="createTime != null and createTime != ''">
			and "createTime" = #{createTime}
		</if>
	</select>

</mapper>